$soft-gray: #F0F0F0;
$gray: #8E8E8E;
$primary: #FF0007;
$black: #484848;
$white: #ffffff;
$lowest-price: #00CA75;
$other-price: #009AD2;

$font-primary: 'Roboto', Helvetica, Arial, sans-serif;

$small: "screen and (min-width: 576px)";
$medium: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";
$extra-large: "screen and (min-width: 1200px)";