@import "normalize", "flexboxgrid.min", "flickity.min";
@import "functions", "spaces", "fonts", "buttons";

body,
html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: $soft-gray;
}
body * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

html {
    overflow: auto;
    overflow-x: hidden;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $black;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

*:focus {
    border: none;
    outline: none;
}

html,a {
    color: inherit;
    text-decoration: none;
}

html ul {
    list-style: none;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.master-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  .master-container-padding {
    padding: 0px 20px;
  }
}

@import "header";
@import "main";
